input[type="text"], select {
    padding: 0.5rem;
    border: 1px solid #e2e8f0;
    border-radius: 4px;
    font-size: 1rem;
}

input[type="text"]:focus, select:focus {
    outline: none;
    border-color: #4299e1;
}

.react-datepicker-wrapper {
    width: auto;
}

.react-datepicker__input-container input {
    padding: 0.5rem;
    border: 1px solid #e2e8f0;
    border-radius: 4px;
}